
.dice-button {
    opacity: 85%;
    position: absolute;
    background-color: #52ffa8;
    border: none;  
    padding: clamp(12px, calc(1rem + 2vw), 25px);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dice-icon {
    opacity: 85%;
    width: clamp(20px, calc(1.25rem + 4vw), 40px);
    stroke: var(--neon-green);
}

.dice-icon:hover,
.dice-button:hover {
    opacity: 100%;
    cursor: pointer;
}

@media (min-width: 375px) {


    .dice-button {
        padding: clamp(12px, calc(.85rem + 1vw), 20px);
    }    

    .dice-icon {
        width: clamp(20px, calc(1rem + 3vw), 35px);
        stroke: var(--neon-green);
    }
}

