/* defaults, vars */
a, a::before, a::before {
    box-sizing: border-box;
}

:root {
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-blue: hsl(218, 23%, 16%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    --main-font: 'Manrope', sans-serif;

    --small-font-size: 1rem;
    --normal-font-size: 1.75rem;
}

body{
    margin: 0;
    padding: 0;

    font-family: var(--main-font);
    font-size: var(--normal-font-size);
    color: var(--light-cyan);
    background-color: var(--dark-blue);
    text-align: center;
}


h1, h2{
    margin: 0;
    padding: 0;
}